<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Data" value="Data Source=DESKTOP-5502URO\SQLSERVER2012;Initial Catalog=ISATWeb; User ID=sa; Password=P4ssword;"/>
  </appSettings>
  <connectionStrings>
    <add name="Data" connectionString="Data Source=DESKTOP-5502URO\SQLSERVER2012;Initial Catalog=ISATWeb; User ID=sa; Password=P4ssword;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>