@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Login</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="passwordBox animated fadeInDown">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox-content">
                    @if (IsPost && ViewBag.SuccessMsg != null)
                    {
                        <div class="alert alert-success alert-dismissable">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            @ViewBag.SuccessMsg
                        </div>
                        <div>
                            <label>To Login  
                                @Html.ActionLink("click here", "Login")
                            </label>
                        </div>
                    }
                    @if (IsPost && ViewBag.ErrorMsg != null)
                    {
                        <div class="alert alert-danger alert-dismissable">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            @ViewBag.ErrorMsg
                        </div>
                    }
                    <h2 class="font-bold">Forgot password</h2>

                    <p>
                        Enter your Username and your password will be reset.
                    </p>

                    <div class="row">

                        <div class="col-lg-12">
                            <form class="m-t" role="form" action="@Url.Action("ResetPassword","Account")" method="post">
                                <div class="form-group">
                                    <input type="text" id="userName" name="userName" class="form-control" placeholder="Username" required="">
                                </div>
                                <button type="submit" class="btn btn-primary block full-width m-b">Reset Password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                @*Copyright Example Company*@
            </div>
            <div class="col-md-6 text-right">
                @*<small>© 2014-2015</small>*@
            </div>
        </div>
    </div>

</body>

</html>
