@model ISAT.Web.ViewModel.Ticket
@{
    ViewBag.Title = "Open Ticket List";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Open Ticket List </h5>
                </div>
                <div class="ibox-content">
                    <div class="jqGrid_wrapper">
                        <table id="table_list_1"></table>
                        <div id="pager_list_1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Ticket History
                </h1>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Activity</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>UpdatedBy</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Solution Update</td>
                                    <td>16 Apr 2017</td>
                                    <td>11:45</td>
                                    <td>Officer 01</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Escalated</td>
                                    <td>16 Apr 2017</td>
                                    <td>10:00</td>
                                    <td>Agent 01</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Created</td>
                                    <td>Larry</td>
                                    <td>16:03</td>
                                    <td>Agent 01</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/jqGrid/jqGridStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/jqGrid")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#table_list_1").jqGrid({
                url: '@Url.Action("getOpenTicket", "Ticketing")',
                datatype: "json",
                mtype: "GET",
                height: 250,
                rowNum: 10,
                rowList: [10, 20, 30],
                colNames: ['idticket', 'TicketNo', 'Ticket Subject', 'Requester', 'Created Date', 'Priority', 'Ticket Owner', ''],
                colModel: [
                    { name: 'idticket', index: 'idticket', width: 60, key: true, hidden: true },
                    { name: 'TicketNo', index: 'TicketNo', width: 60, hidden: true },
                    { name: 'TicketSubject', index: 'TicketSubject', width: 100 },
                    { name: 'Requester', index: 'Requester', sortable: false },
                    { name: 'CreatedDate', index: 'CreatedDate', sorttype: "date", formatter: "date" },
                    { name: 'Priority', index: 'Priority' },
                    { name: 'TicketOwner', index: 'TicketOwner' },
                    {
                        name: 'Detail',
                        edittype: 'select',
                        width: 50,
                        formatter: function (rowid, cellValue, rowObject) {
                            return '<a href="@Url.Action("OpenTicket", "Ticketing")' + '/' + rowObject[1] + '">Detail</a>';
                        }
                    },
                ],
                loadonce: true,
                sortname: 'CreatedDate',
                sortorder: "desc",
                autowidth: true,
                autoheight: true,
                pager: "#pager_list_1",
                hidegrid: false
            });

            $("#table_list_1").jqGrid('navGrid', '#pager_list_1',
                    { edit: false, add: false, del: false, search: true },
                    { height: 200, reloadAfterSubmit: true }
            );

            // Add responsive to jqGrid
            $(window).bind('resize', function () {
                var width = $('.jqGrid_wrapper').width();
                $('#table_list_1').setGridWidth(width);
            });

        });
    </script>
}


