<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=182.23.67.77;Port=3306;Database=crmdev;Uid=crmdev;Pwd=P4ssw0rdCRMDev;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICRMService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:52166/CRMService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICRMService" contract="CRMServiceReference.ICRMService"
        name="BasicHttpBinding_ICRMService" />
    </client>
  </system.serviceModel>
</configuration>